/*

color: #1A1B26
color: #585F73
color: #F2AA52
color: #D9763D
color: #A65233

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  padding: 3px;
}

.container-fluid {
  background-color: #1A1B26;
}

.clock {
  color: aliceblue;
  font-family: sans-serif;
  font-size: 1.25rem;
  padding: .75rem;
  text-align: center;
}

#greeting {
  font-size: 2.25rem;
}

.weather-container {
  background-color: #585F73;
  color: #F2AA52;
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 90%;
}

.icon {
  width: 20%;
}

.weather {
  font-size: 20px;
}

.temp {
  font-size: 40px;
}

.windspeed {
  font-size: 40px;
  padding-bottom: 7px;
}

.cityid {
  font-size: 40px;
  font-weight: 400;
}

.nasa-container {
  background-color: #585F73;
  color: #F2AA52;
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 90%;
}

#apod_img_id {
  width: 85%;
}

#apod_vid_id {
  width: 85%;
}



